body {
  font-family: 'Libre Baskerville', serif;
  h1 {
    color: #387c9b;
  }
}
.before {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  p {
    margin: 0;
  }
  a {
    @media screen and (min-width: 768px) {
      position: absolute;
      right: 30px;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  padding: 40px;
  img {
    height: 40px;
  }
}
.nav-wrapper {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  @media screen and (max-width: 768px) {
    display: none;
  }
  .nav-items {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    //padding: 20px;
    text-align: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
    a {
      //border-bottom: 1px solid black;
      @media screen and (min-width: 768px) {
        border-right: 1px solid black;
        padding: 20px;
        border-bottom: none;
        text-align: center;
      }
    }
  }
}

.nav-wrapper-mobile {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  @media screen and (min-width: 768px) {
    display: none;
  }
  .nav-items {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    a {
      border-bottom: 1px solid black;
      @media screen and (min-width: 768px) {
        border-right: 1px solid black;
        padding: 20px;
        border-bottom: none;
      }
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

//splash section, main content area
.splash {
  font-family: 'PT Sans', sans-serif;
  background-color: #f7f7f5;
  text-align: center;
  border-bottom: 1px solid black;
  .splash-content {
    padding: 40px;
  }
  h1 {
    font-weight: 400;
  }
  p {
    margin: 0 auto;
    font-size: 18px;
    max-width: 300px;
    line-height: 25px;
    strong {
      font-weight: 700;
    }
  }
  .button {
    background: #387c9b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    margin: 20px auto;

    a {
      font-family: 'Cantata One', serif;
      font-size: 20px;
      text-decoration: none;
      color: white;
      font-style: italic;
    }
  }
}

.footer-a {
  margin: 40px 0px 40px 0px;
  //background: teal;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      padding: 20px;
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    //flex-direction: column;
    //text-align: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
    a {
      text-decoration: none;
      padding: 5px;
    }
  }
  .social {
    // display: flex;
    // justify-content: center;
    @media screen and (min-width: 768px) {
      position: absolute;
      right: 30px;
    }
    img {
      margin: 0 auto;
    }
  }
}